# 默认忽略的文件
/.idea/
/.venv/
/bill_data/
/investment_data/
__pycache__/
/data/
afqmc_public.zip
models/
.venv/
.vscode/
data.tar.gz
epoch_1_valid_acc_71.3_model_weights.bin
epoch_2_valid_acc_72.6_model_weights.bin
epoch_3_valid_acc_73.3_model_weights.bin
china-people-daily-ner-corpus.tar.gz
models_fune_tuning/
train.jsonl
processed/
checkpoints/
